    <style>
        body {
            width: 600px;
            height: 350px;
            font-family: 'Noto Sans TC', sans-serif;
            background-size: cover;

            background-position: center center;
            border-radius: 1px;
        }

        * {
            color: #FFFFFF;
            font-size: 11px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            user-select: none;
            /* Non-prefixed version, currently */
            outline: none;
            -webkit-tap-highlight-color: transparent;
        }

        nobr {
            white-space: nowrap;
            display: flex;
        }


        canvas {
            position: absolute;

            z-index: -1;
        }

        .scrollbar {
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            border-radius: 15px;
        }

        .scrollbar::-webkit-scrollbar {
            width: 10px;
            height: 5px;

        }

        .scrollbar::-webkit-scrollbar-track {

            border-radius: 25px;
        }

        .scrollbar::-webkit-scrollbar-thumb {
            border-radius: 15px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #A6A6A6;
        }

        .left {


            width: 200px;
            height: 100%;
        }

        .left1 {
            border-radius: 10px;
            width: 220px;
            height: 220px;
            margin-top: 15px;
            margin-left: 30px;
            background-color: #;
            text-align: center;
            overflow: auto;
            border: none;
            border: 2px solid #FF0000;
            box-shadow: 0 0 0px #FF0000 inset, 0 0 5px #FF0000;
        }

        .left1 .van-image {
            position: relative;
            display: inline-block;
            margin-top: 15px;

        }

        .left1 .van-button {
height: 50px;
            text-align: center;
            font-size: 50px;
            width: 80px;
            border-radius: 1px;
            background-color: transparent;
            border: none;
            border: 2px solid #FF0000;
            box-shadow: 0 0 0px #FF0000 inset, 0 0 5px #FF0000;
            margin: 10px;


        }
        
        .left2 img {
font-size: 13px;
          top: 5px;
          text-align: center;
            border-radius: 5px;
            width: 220; /* Ensures the image fits within the #left1 container */
            height: 90; /* Keeps the image's aspect ratio */
        
            border: 2px solid #FF0000;
            box-shadow: 0 0 0px #FF0000 inset, 0 0 5px #FF0000;
            
            display: inline-block;
            
            color: #28FF00;
            margin-top: 5px;
            margin-left: 30px;
        }

        .right {

            height: 100%;
            overflow: auto;
        }

        .right1 {
            border-radius: 10px;
            width: 300px;
            height: 320px;
            margin-top: 15px;
            margin-left: 16px;
            background-color: #;
            text-align: center;
            overflow: auto;
            border: none;
            border: 2px solid #FF0000;
            box-shadow: 0 0 0px #FF0000 inset, 0 0 5px #FF0000;
        }

        

        .ayimgui {
            background-image: url("https://i.postimg.cc/HLZtPQhr/D36-AA06-C-0723-44-BF-9011-9-C8909-DC7306.gif");
            position: relative;
            z-index: 1;
            height: 100%;
            border-radius: 20px;
            overflow: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 3px solid #FF0000;
            box-shadow: 0 0 15px #FF0000 inset, 0 0 40px #FF0000;
            display: flex;
        }

        .right .van-button {
            margin: 10px;
            text-align: center;
            font-size: 50px;
            width: 100px;
            border-radius: 1px;
            background-color: transparent;
            border: none;
            border: 2px solid #FF0000;
            box-shadow: 0 0 0px #FF0000 inset, 0 0 5px #FF0000;
            margin-top: 10px;



        }

        .van-button {
            margin: 10px;
            text-align: center;
            font-size: 50px;
            width: 100px;
            border-radius: 1px;
            background-color: #FFFFFF;
            border: none;
            border: 3px solid #FFFFFF;
            box-shadow: 0 0 0px #FFFFFF inset, 0 0 5px #FFFFFF;

            margin-top: 25px;
            margin-left: 25px;


        }

        .van-notify {
            z-index: 99;
            position: fixed;
        }

        .right .van-cell {
            margin: 10px;
            text-align: center;
            font-size: 50px;
            width: 188px;
            border-radius: 1px;
            background-color: #FFFFFF;
            border: none;
            border: 1px solid #FFFFFF: ;
            box-shadow: 0 0 0px #FFFFFF inset, 0 0 5px #FFFFFF;
            margin-top: 50px;
            margin-left: 100px;
        }

        .van-cell {
            margin: 10px;
            text-align: center;
            font-size: 50px;
            width: 400px;
            border-radius: 5px;
            background-color: #0400ff;
            border: none;
            border: 1px solid #ffffff;
            box-shadow: 0 0 0px #ffffff inset, 0 0 5px #FFFFFF;
            margin-top: 25px;
            margin-left: 25px;
        }

        .van-field__control {
            display: block;
            box-sizing: border-box;
            width: 100%;
            min-width: 0;
            margin: 0;
            padding: 0;
            color: white;
            line-height: inherit;
            text-align: left;
            background-color: transparent;
            border: 0;
            resize: none;
            -webkit-user-select: auto;
            user-select: auto;
        }
        .h3{
          color: #00FF20;
        }
  p{
    
    color:#28FF00;
  }
    </style>